* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
